@import "normalize";
@import "typography";
@import "base";
@import "header";
@import "footer";
@import "todoitem";
@import "media";

:root {
  --primary-color: #ffa07a;
}

body {
  background-color: #ffd7b9;
}

header, footer {
  background-color: #ffa07a;
  color: #ffffff;
}

.todo-item {
  background-color: #ffd7b9;
  border: 1px solid #ffa07a;
}